
.numeroContador{
  background-color: gold;
  padding: 2rem;
}

.medidasCard{
  width: 18rem;
  margin: 1rem;
}

.itemList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem;
}

.ItemDetailContainer{
  margin-top: 10rem;
}

.error4040{
  margin-top: 5rem;
  background-color: gold;
  
}